 * {
    font-family: "Open Sans";
 }


 /* set background colors to fit our theme */
 h2 {
    background-color: #e8c15c;
    width: fit-content;
 }

 a {
    background-color: #70c867;
    text-decoration: none;
    color: black;
 }

 .highlight {
    background-color: #ee604f;
 }